@model ReciPick.Domain.DomainModels.Recipe

@{
    ViewData["Title"] = "Edit Recipe";
}

<h2>Edit Recipe</h2>

<form asp-action="Edit">
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Calories" class="control-label"></label>
        <input asp-for="Calories" class="form-control" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>

    

    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

